[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 breezestyleconfig
Icon=preferences-desktop-theme
Name=Breeze Widget Style
Name[ar]=نمط ودجات نسيم
Name[bg]=Стил на уиджетите за Breeze
Name[ca@valencia]=Estil dels ginys Brisa
Name[ca]=Estil dels ginys Brisa
Name[cs]=Styl widgetů Breeze
Name[de]=Breeze-Stil der Bedienelemente
Name[el]=Breeze στιλ γραφικού συστατικού
Name[en_GB]=Breeze Widget Style
Name[eo]=Breeze-fenestraĵostilo
Name[es]=Estilo de widgets Brisa
Name[eu]=Brisa trepeta-estiloa
Name[fi]=Breeze-käyttöliittymäalkiotyyli
Name[fr]=Style des composants graphiques de Breeze
Name[gl]=Estilo do trebello de Brisa
Name[he]=סגנון יישומונים בריזה
Name[hu]=Breeze elemstílus
Name[ia]=Stilo de Elemento Graphic de Fenestra (Widget) de Breeze
Name[id]=Gaya Widget Breeze
Name[is]=Breeze græjustíll
Name[it]=Stile degli oggetti di Brezza
Name[ja]=Breeze のウィジェットスタイル
Name[ka]=Breeze -ის ვიჯეტის სტილი
Name[ko]=Breeze 위젯 스타일
Name[lt]=Breeze valdiklių stilius
Name[lv]=„Breeze“ logdaļu stils
Name[nl]=Breeze widgetstijl
Name[nn]=Breeze-elementstil
Name[pa]=ਬਰੀਜ਼ ਵਿਜੈਟ ਸਟਾਈਲ
Name[pl]=Wygląd interfejsu Bryzy
Name[pt]=Estilo de Widget Brisa
Name[pt_BR]=Estilo dos widgets Breeze
Name[ro]=Stilul controalelor Briză
Name[ru]=Стиль интерфейса Breeze
Name[sa]=हवा विजेट शैली
Name[sk]=Štýl prvkov Vánok
Name[sl]=Slog gradnikov Sapice
Name[sv]=Breeze stil för grafiska komponenter
Name[tr]=Esinti Araç Takımı Biçemi
Name[uk]=Стиль віджетів Breeze
Name[zh_CN]=Breeze 微风窗口部件风格
Name[zh_TW]=Breeze 元件樣式
