[Desktop Entry]
Name[ca]=Preferències del Guake
Name[cs]=Nastavení Guake
Name[de]=Guake-Einstellungen
Name[el]=Προτιμήσεις του Guake
Name[es]=Preferencias de Guake
Name[fa]=تنظیمات Guake
Name[fr]=Préférences de Guake
Name[fi]=Guaken Asetukset
Name[gl]=Preferencias do Guake
Name[hr]=Guake postavke
Name[hu]=Guake beállítások
Name[id]=Preferensi Guake
Name[it]=Preferenze di Guake
Name[ja]=Guakeの設定
Name[ko]=Guake 속성
Name[nb]=Guake-egenskaper
Name[nl]=Guake-voorkeuren
Name[pa]=ਗੁਆਕੀ ਪਸੰਦ
Name[pl]=Preferencje programu Guake
Name[pt_BR]=Preferências do Guake
Name[ru]=Настройки Guake
Name[sv]=Inställningar för Guake
Name[tr]=Guake Tercihleri
Name[uk]=Налаштування Guake
Name[zh_CN]=Guake 首选项
Name=Guake Preferences
Comment[ca]=Configureu les vostres sessions del Guake
Comment[cs]=Nastavit Guake sezení
Comment[de]=Konfigurieren Sie Ihre Guake-Sitzungen
Comment[es]=Configure sus sesiones de Guake
Comment[fr]=Configurer vos sessions Guake
Comment[fi]=Guake-istuntojen määrittäminen
Comment[hr]=Konfiguriraj Guake sesiju
Comment[it]=Configura le sessioni di Guake
Comment[ja]=Guake セッションの設定
Comment[nb]=Sett opp dine Guake-økter
Comment[nl]=Stel je Guake-sessies in
Comment[pl]=Konfiguracja sesji programu Guake
Comment[ru]=Настройка сессии Guake
Comment[sv]=Anpassa Guake-sessioner
Comment[tr]=Guake oturumlarınızı yapılandırın
Comment[zh_CN]=配置你的Guake会话
Comment=Configure your Guake sessions
TryExec=guake
Exec=guake -p
Icon=guake
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=guake
X-Desktop-File-Install-Version=0.15
Keywords[ca]=Terminal;Utilitats;
Keywords[cs]=Terminál;Nástroje;
Keywords[de]=Terminal;Dienstprogramm;
Keywords[es]=Terminal;Utilidad;
Keywords[fr]=Terminal;Utilitaires;
Keywords[fi]=Pääte;Apuohjelma;
Keywords[hr]=Terminal;Pomoćni program;
Keywords[it]=Terminale;Utility;
Keywords[ja]=Terminal;Utility;
Keywords[nb]=Terminal;Verktøy;
Keywords[nl]=Terminal;Hulpmiddel;
Keywords[pl]=Terminal;Utility;
Keywords[ru]=Терминал;Инструменты;
Keywords[sv]=Terminal;Verktyg;
Keywords[tr]=Terminal;Utility;Araç;Yardımcı program;
Keywords[zh_CN]=终端;实用;
Keywords=Terminal;Utility;
