[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_kwin_scripts
Icon=preferences-system-windows-actions
Name=KWin Scripts
Name[ar]=سكربتات كوين
Name[az]=Kwin skriptləri
Name[be]=Скрыпты KWin
Name[bg]=Скриптове на KWin
Name[ca@valencia]=Scripts de KWin
Name[ca]=Scripts del KWin
Name[cs]=Skripty KWinu
Name[da]=KWin-scripts
Name[de]=KWin-Skripte
Name[en_GB]=KWin Scripts
Name[eo]=KWin-Skriptoj
Name[es]=Guiones de KWin
Name[et]=KWini skriptid
Name[eu]=KWin gidoiak
Name[fi]=KWin-skriptit
Name[fr]=Scripts pour KWin
Name[ga]=Scripteanna KWin
Name[gl]=Guións de KWin
Name[he]=סקריפטים של KWin
Name[hu]=KWin szkriptek
Name[ia]=Script de KWin
Name[id]=Skrip KWin
Name[is]=KWin-skriftur
Name[it]=Script di KWin
Name[ja]=KWin スクリプト
Name[ka]=KWin-ის სკრიპტები
Name[ko]=KWin 스크립트
Name[lt]=KWin scenarijai
Name[lv]=„KWin“ skripti
Name[nb]=KWin-skript
Name[nl]=KWin-scripts
Name[nn]=KWin-skript
Name[pl]=Skrypty KWin
Name[pt]=Programas do KWin
Name[pt_BR]=Scripts do KWin
Name[ro]=Scripturi KWin
Name[ru]=Сценарии KWin
Name[sa]=KWin स्क्रिप्ट्
Name[sk]=KWin skripty
Name[sl]=Skripti KWin
Name[sv]=Kwin-skript
Name[ta]=கேவின் சிறுநிரல்கள்
Name[tr]=KWin Betikleri
Name[uk]=Скрипти KWin
Name[vi]=Kịch bản KWin
Name[zh_CN]=KWin 脚本
Name[zh_TW]=KWin 文稿
