[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_powerdevilprofilesconfig
Icon=preferences-system-power-management
Name=Power Management
Name[ar]=إدارة الطاقة
Name[az]=Enerjiyə Nəzarət
Name[be]=Кіраванне сілкаваннем
Name[bg]=Управление на захранването
Name[bs]=Upravljanje napajanjem
Name[ca@valencia]=Gestió de l'energia
Name[ca]=Gestió d'energia
Name[cs]=Správa napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχείριση ισχύος
Name[en_GB]=Power Management
Name[eo]=Administrado de Energio
Name[es]=Gestión de energía
Name[et]=Toitehaldus
Name[eu]=Energia-kudeaketa
Name[fi]=Virranhallinta
Name[fr]=Système de gestion de l'énergie
Name[ga]=Bainisteoireacht Cumhachta
Name[gl]=Xestión da enerxía
Name[he]=ניהול צריכת חשמל
Name[hu]=Energiakezelés
Name[ia]=Gestion de energia
Name[id]=Pengelolaan Daya
Name[is]=Gangstýring
Name[it]=Gestione energetica
Name[ja]=電源管理
Name[ka]=კვების მართვა
Name[ko]=전원 관리
Name[lt]=Maitinimo valdymas
Name[lv]=Energokontrole
Name[nb]=Strømstyring
Name[nds]=Stroompleeg
Name[nl]=Energiebeheer
Name[nn]=Straumstyring
Name[pa]=ਪਾਵਰ ਇੰਤਜ਼ਾਮ
Name[pl]=Zarządzanie energią
Name[pt]=Gestão de energia
Name[pt_BR]=Gerenciamento de energia
Name[ro]=Gestiunea alimentării
Name[ru]=Управление питанием
Name[sa]=शक्ति प्रबन्धन
Name[sk]=Správa napájania
Name[sl]=Upravljanje moči
Name[sv]=Strömhantering
Name[ta]=ஆற்றல் மேலாண்மை
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[zh_CN]=电源管理
Name[zh_TW]=電源管理
