[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_desktoptheme
Icon=preferences-desktop-plasma-theme
Name=Plasma Style
Name[ar]=نمط بلازما
Name[az]=Plasma Üslubu
Name[be]=Стыль Plasma
Name[bg]=Стил на Plasma
Name[ca@valencia]=Estil de Plasma
Name[ca]=Estil del Plasma
Name[cs]=Styl Plasma
Name[da]=Plasma-stil
Name[de]=Plasma-Stil
Name[el]=Στυλ Plasma
Name[en_GB]=Plasma Style
Name[eo]=Plasma Stilo
Name[es]=Estilo de Plasma
Name[et]=Plasma stiil
Name[eu]=Plasmaren estiloa
Name[fi]=Plasma-tyyli
Name[fr]=Style Plasma
Name[ga]=Stíl Plasma
Name[gl]=Estilo de Plasma
Name[he]=סגנון פלזמה
Name[hi]=प्लाज़्मा शैली
Name[hsb]=Plasmowy stil
Name[hu]=Plasma stílus
Name[ia]=Stilo de Plasma
Name[id]=Gaya Plasma
Name[is]=Stíll Plasma
Name[it]=Stile di Plasma
Name[ja]=Plasma スタイル
Name[ka]=Plasma-ის სტილი
Name[ko]=Plasma 스타일
Name[lt]=Plasma stilius
Name[lv]=„Plasma“ stils
Name[ml]=പ്ലാസ്മ ശൈലി
Name[nb]=Plasma-stil
Name[nl]=Plasma-stijl
Name[nn]=Plasma-stil
Name[pa]=ਪਲਾਜ਼ਮਾ ਸਟਾਈਲ
Name[pl]=Wygląd Plazmy
Name[pt]=Estilo do Plasma
Name[pt_BR]=Estilo do Plasma
Name[ro]=Stilul Plasma
Name[ru]=Оформление рабочего стола
Name[sa]=प्लाज्मा शैली
Name[sk]=Plasma štýl
Name[sl]=Plasmin slog
Name[sv]=Plasmastil
Name[ta]=பிளாஸ்மா தோற்றத்திட்டம்
Name[tg]=Услуби плазма
Name[tok]=nasin lukin Plasma
Name[tr]=Plasma Biçemi
Name[ug]=Plasma ئۇسلۇبى
Name[uk]=Стиль Плазми
Name[vi]=Kiểu cách Plasma
Name[zh_CN]=Plasma 外观样式
Name[zh_TW]=Plasma 風格
