[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_kwinrules
Icon=preferences-system-windows-actions
Name=Window Rules
Name[ar]=قواعد النوافذ
Name[az]=Pəncərə qaydası
Name[be]=Правілы для акон
Name[bg]=Правила за прозорци
Name[ca@valencia]=Regles de les finestres
Name[ca]=Regles de les finestres
Name[cs]=Pravidla oken
Name[da]=Vinduesroller
Name[de]=Fensterregeln
Name[en_GB]=Window Rules
Name[eo]=Fenestraj Reguloj
Name[es]=Reglas de las ventanas
Name[et]=Aknareeglid
Name[eu]=Leihoaren arauak
Name[fi]=Ikkunasäännöt
Name[fr]=Règles de fenêtres
Name[gl]=Regras de xanelas
Name[he]=כללי חלון
Name[hu]=Ablakszabályok
Name[ia]=Regulas de fenestra
Name[id]=Peraturan Jendela
Name[is]=Gluggareglur
Name[it]=Regole delle finestre
Name[ja]=ウィンドウのルール
Name[ka]=ფანჯრების წესები
Name[ko]=창 규칙
Name[lt]=Langų taisyklės
Name[lv]=Logu noteikumi
Name[nb]=Vindusregler
Name[nl]=Vensterregels
Name[nn]=Vindaugsreglar
Name[pl]=Zasady okien
Name[pt]=Regras de Janelas
Name[pt_BR]=Regras das janelas
Name[ro]=Reguli ferestre
Name[ru]=Особые параметры окон
Name[sa]=विण्डो नियम
Name[sk]=Pravidlá okien
Name[sl]=Pravila oken
Name[sv]=Fönsterregler
Name[ta]=சாளர விதிமுறைகள்
Name[tr]=Pencere Kuralları
Name[uk]=Правила вікон
Name[vi]=Luật cửa sổ
Name[zh_CN]=窗口规则
Name[zh_TW]=視窗規則
