[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_mobile_hotspot
Icon=network-wireless-hotspot
Name=Hotspot
Name[ar]=نقطة اتصال
Name[az]=Qoşulma nöqtəsi
Name[bg]=Активна точка
Name[ca@valencia]=Punt d'accés
Name[ca]=Punt d'accés
Name[cs]=Hotspot
Name[da]=Internetdeling
Name[de]=Hotspot
Name[en_GB]=Hotspot
Name[es]=Punto de acceso
Name[et]=Pääsupunkt
Name[eu]=Berogunea
Name[fi]=Tukiasema
Name[fr]=Point d'accès
Name[gl]=Punto de acceso
Name[he]=נקודה חמה
Name[hsb]=Hotspot
Name[hu]=Hotspot
Name[ia]=Hotspot
Name[id]=Hotspot
Name[is]=Aðgangsstaður
Name[it]=Hotspot
Name[ka]=ჰოტსპოტი
Name[ko]=핫스팟
Name[lt]=Prieigos taškas
Name[lv]=Tīklājs
Name[nl]=Hotspot
Name[nn]=Trådlaussone
Name[pa]=ਹਾਟਸਪਾਟ
Name[pl]=Hotspot
Name[pt]=Ponto de Acesso
Name[pt_BR]=Ponto de acesso
Name[ro]=Hotspot
Name[ru]=Точка доступа Wi-Fi
Name[sk]=Prístupový bod
Name[sl]=Vroča točka
Name[sv]=Accesspunkt
Name[ta]=ஹாட்ஸ்பாட்
Name[tr]=Erişim Noktası
Name[ug]=قىزىق نۇقتا
Name[uk]=Хот-спот
Name[zh_CN]=无线热点
Name[zh_TW]=熱點
