[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_kwin_virtualdesktops
Icon=preferences-desktop-virtual
Name=Virtual Desktops
Name[ar]=أسطح المكتب الافتراضية
Name[ast]=Escritorios virtuales
Name[az]=Virtual iş masaları
Name[be]=Віртуальныя працоўныя сталы
Name[bg]=Виртуални работни плотове
Name[ca@valencia]=Escriptoris virtuals
Name[ca]=Escriptoris virtuals
Name[cs]=Virtuální plochy
Name[da]=Virtuelle skriveborde
Name[de]=Virtuelle Arbeitsflächen
Name[en_GB]=Virtual Desktops
Name[eo]=Virtualaj Labortabloj
Name[es]=Escritorios virtuales
Name[et]=Virtuaalsed töölauad
Name[eu]=Alegiazko mahaigaina
Name[fi]=Virtuaalityöpöydät
Name[fr]=Bureaux virtuels
Name[ga]=Deasca Fíorúla
Name[gl]=Escritorios virtuais
Name[he]=שולחנות עבודה וירטואליים
Name[hu]=Virtuális asztalok
Name[ia]=Scriptorios virtual
Name[id]=Desktop Virtual
Name[is]=Sýndarskjáborð
Name[it]=Desktop virtuali
Name[ja]=仮想デスクトップ
Name[ka]=ვირტუალური სამუშაო მაგიდები
Name[ko]=가상 바탕 화면
Name[lt]=Virtualūs darbalaukiai
Name[lv]=Virtuālās darbvirsmas
Name[nb]=Virtuelle skrivebord
Name[nl]=Virtuele bureaubladen
Name[nn]=Virtuelle skrivebord
Name[pl]=Pulpity wirtualne
Name[pt]=Ambientes de Trabalho Virtuais
Name[pt_BR]=Áreas de trabalho virtuais
Name[ro]=Birouri virtuale
Name[ru]=Виртуальные рабочие столы
Name[sa]=आभासी डेस्कटॉप्स
Name[sk]=Virtuálne pracovné plochy
Name[sl]=Navidezna namizja
Name[sv]=Virtuella skrivbord
Name[ta]=மெய்நிகர் பணிமேடைகள்
Name[tr]=Sanal Masaüstleri
Name[uk]=Віртуальні стільниці
Name[vi]=Bàn làm việc ảo
Name[zh_CN]=虚拟桌面
Name[zh_TW]=虛擬桌面
