[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_wallpaper
Icon=preferences-desktop-wallpaper
Name=Wallpaper
Name[ar]=الخلفية
Name[az]=Divar Kağızı
Name[be]=Шпалеры
Name[bg]=Тапет
Name[bs]=Pozadina
Name[ca@valencia]=Fons de pantalla
Name[ca]=Fons de pantalla
Name[cs]=Tapeta
Name[da]=Baggrundsbillede
Name[de]=Hintergrundbild
Name[el]=Ταπετσαρία
Name[en_GB]=Wallpaper
Name[eo]=Ekranfono
Name[es]=Fondo del escritorio
Name[et]=Taustapilt
Name[eu]=Horma-papera
Name[fi]=Tausta
Name[fr]=Fond d'écran
Name[gl]=Fondo de escritorio
Name[he]=טפט
Name[hi]=वाॅलपेपर
Name[hsb]=Pozadk dźěłoweho powjercha
Name[hu]=Háttérkép
Name[ia]=Fundo de schermo
Name[id]=Wallpaper
Name[is]=Veggfóður
Name[it]=Sfondo
Name[ja]=壁紙
Name[ka]=ფონური სურათი
Name[ko]=배경 그림
Name[lt]=Darbalaukio fonas
Name[lv]=Darbvirsmas tapete
Name[ml]=പശ്ചാത്തലചിത്രം
Name[nb]=Bakgrunnsbilde
Name[nds]=Achtergrundbild
Name[nl]=Achtergrondafbeelding
Name[nn]=Bakgrunnsbilete
Name[pa]=ਵਾਲਪੇਪਰ
Name[pl]=Tapeta
Name[pt_BR]=Papel de parede
Name[ro]=Tapet
Name[ru]=Обои
Name[sa]=वॉलपेपर
Name[sk]=Tapeta
Name[sl]=Slika ozadja
Name[sr@ijekavian]=Тапет
Name[sr@ijekavianlatin]=Tapet
Name[sr@latin]=Tapet
Name[sr]=Тапет
Name[sv]=Skrivbordsunderlägg
Name[ta]=பின்னணிப் படம்
Name[tok]=sitelen monsi
Name[tr]=Duvar Kâğıdı
Name[ug]=تام قەغەز
Name[uk]=Зображення тла
Name[vi]=Phông nền
Name[zh_CN]=壁纸
Name[zh_TW]=桌布
