[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_proxy
Icon=preferences-system-network-proxy
Name=Proxy
Name[ar]=الوكيل
Name[be]=Проксі
Name[bg]=Прокси сървър
Name[ca@valencia]=Servidor intermediari
Name[ca]=Servidor intermediari
Name[cs]=Proxy
Name[de]=Proxy
Name[en_GB]=Proxy
Name[eo]=Prokurilo
Name[es]=Proxy
Name[eu]=Ordezkaria
Name[fi]=Välityspalvelin
Name[fr]=Serveur mandataire
Name[gl]=Mandatario
Name[he]=מתווך
Name[hu]=Proxy
Name[ia]=Proxy
Name[is]=Milliþjónn
Name[it]=Proxy
Name[ja]=プロキシ
Name[ka]=პროქსი
Name[ko]=프록시
Name[lt]=Įgaliotasis serveris
Name[lv]=Starpniekserveris
Name[nl]=Proxy
Name[nn]=Mellomtenar
Name[pa]=ਪਰਾਕਸੀ
Name[pl]=Pośrednik
Name[pt_BR]=Proxy
Name[ro]=Proxy
Name[ru]=Прокси-сервер
Name[sa]=प्रॉक्सी
Name[sk]=Proxy
Name[sl]=Posrednik
Name[sv]=Proxy
Name[ta]=பதிலி
Name[tr]=Vekil
Name[ug]=ۋاكالەتچى
Name[uk]=Проксі
Name[zh_CN]=代理服务器
Name[zh_TW]=代理伺服器
