[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_colors
Icon=preferences-desktop-color
Name=Colors
Name[ar]=الألوان
Name[ast]=Colores
Name[az]=Rənglər
Name[be]=Колеры
Name[bg]=Цветове
Name[ca@valencia]=Colors
Name[ca]=Colors
Name[cs]=Barvy
Name[da]=Farver
Name[de]=Farben
Name[el]=Χρώματα
Name[en_GB]=Colours
Name[eo]=Koloroj
Name[es]=Colores
Name[et]=Värvid
Name[eu]=Koloreak
Name[fi]=Värit
Name[fr]=Couleurs
Name[ga]=Dathanna
Name[gl]=Cores
Name[he]=צבעים
Name[hi]=रंग
Name[hsb]=Barby
Name[hu]=Színek
Name[ia]=Colores
Name[id]=Warna
Name[is]=Litir
Name[it]=Colori
Name[ja]=色彩
Name[ka]=ფერები
Name[ko]=색상
Name[lt]=Spalvos
Name[lv]=Krāsas
Name[ml]=നിറങ്ങള്‍
Name[nb]=Farger
Name[nl]=Kleuren
Name[nn]=Fargar
Name[pa]=ਰੰਗ
Name[pl]=Kolory
Name[pt]=Cores
Name[pt_BR]=Cores
Name[ro]=Culori
Name[ru]=Цвета
Name[sa]=रङ्गाः
Name[sk]=Farby
Name[sl]=Barve
Name[sv]=Färger
Name[ta]=நிறங்கள்
Name[tg]=Рангҳо
Name[tok]=kule
Name[tr]=Renkler
Name[ug]=رەڭ
Name[uk]=Кольори
Name[vi]=Màu
Name[zh_CN]=颜色
Name[zh_TW]=顏色
