[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 kcm_webshortcuts
Icon=preferences-web-browser-shortcuts
Name=Web Search Keywords
Name[ar]=كلمات بحث الويب
Name[be]=Ключавыя словы для сеціўнага пошуку
Name[bg]=Ключови думи за уеб търсене
Name[ca@valencia]=Paraules clau de busca en la web
Name[ca]=Paraules clau de cerca a la web
Name[cs]=Klíčová slova pro hledání na webu
Name[de]=Web-Kürzel
Name[en_GB]=Web Search Keywords
Name[eo]=Retaj Serĉaj Ŝlosilvortoj
Name[es]=Palabras clave de búsqueda web
Name[eu]=Web bilaketarako gako-hitzak
Name[fi]=Verkkohaun avainsanat
Name[fr]=Mots clé de recherche sur Internet
Name[gl]=Palabras clave de busca na web
Name[he]=מילות מפתח לחיפוש באינטרנט
Name[hu]=Webes keresési kulcsszavak
Name[ia]=Parolas clave de cerca de web
Name[is]=Stikkorð í vefleit
Name[it]=Parole chiave per ricerca web
Name[ja]=ウェブ検索キーワード
Name[ka]=ვებში ძებნის საკვანძო სიტყვები
Name[ko]=웹 검색 키워드
Name[lt]=Paieškos saityne raktažodžiai
Name[lv]=Tīmekļa meklēšanas atslēgvārdi
Name[nl]=Webzoektrefwoorden
Name[nn]=Nøkkelord for vevsøk
Name[pa]=ਵੈੱਬ ਖੋਜ ਸ਼ਬਦ
Name[pl]=Słowa kluczowe do wyszukiwania w sieci
Name[pt_BR]=Palavras-chave de pesquisa na web
Name[ro]=Cuvinte-cheie de căutare web
Name[ru]=Ключевые слова для веб-поиска
Name[sa]=जाल अन्वेषण कीवर्ड
Name[sk]=Kľúčové slová pre vyhľadávanie na webe
Name[sl]=Ključne besede spletnega iskanja
Name[sv]=Webbsökningsnyckelord
Name[ta]=இணைய தேடல் முதன்மைச்சொற்கள்
Name[tr]=Web Araması Anahtar Sözcükleri
Name[ug]=توردىن ئىزدەش ئاچقۇچلۇق سۆزى
Name[uk]=Ключові слова пошуку в інтернеті
Name[zh_CN]=网页搜索关键词
Name[zh_TW]=網路搜尋關鍵字
