[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kaccounts
Icon=preferences-online-accounts
Name=Online Accounts
Name[ar]=حسابات الإنترنت
Name[ast]=Cuentes en llinia
Name[az]=Onlayn istifadəçi hesabları
Name[bg]=Онлайн акаунти
Name[ca@valencia]=Comptes en línia
Name[ca]=Comptes en línia
Name[cs]=Účty online
Name[de]=Online-Zugänge
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Enretaj kontoj
Name[es]=Cuentas en línea
Name[eu]=Lerroko kontuak
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[gl]=Contas de Internet
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खाते
Name[hu]=Online fiókok
Name[ia]=Contos in linea
Name[id]=Akun Daring
Name[is]=Netaðgangar
Name[it]=Account in linea
Name[ja]=オンラインアカウント
Name[ka]=ონლაინ ანგარიშები
Name[ko]=온라인 계정
Name[lt]=Internetinės paskyros
Name[lv]=Tiešsaistes konti
Name[nan_TW@latin]=Suànn-tíng Kháu-tsō
Name[nl]=Online accounts
Name[nn]=Nett­kontoar
Name[pa]=ਆਨਲਾਈਨ ਖਾਤੇ
Name[pl]=Konta sieciowe
Name[pt]=Contas 'Online'
Name[pt_BR]=Contas online
Name[ro]=Conturi online
Name[ru]=Учётные записи в Интернете
Name[sa]=ऑनलाइन खाता
Name[sk]=Online účty
Name[sl]=Spletni računi
Name[sv]=Nätkonton
Name[ta]=இணைய கணக்குகள்
Name[tr]=Çevrim İçi Hesaplar
Name[ug]=توردىكى ھېساب
Name[uk]=Облікові записи в інтернеті
Name[zh_CN]=在线账户
Name[zh_TW]=線上帳號
