[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_lookandfeel
Icon=preferences-desktop-theme-global
Name=Global Theme
Name[ar]=سمة شاملة
Name[ast]=Estilu global
Name[az]=Xarici görünüş tərzi
Name[be]=Глабальная тэма
Name[bg]=Глобална тема
Name[ca@valencia]=Tema global
Name[ca]=Tema global
Name[cs]=Celkový motiv
Name[da]=Globalt tema
Name[de]=Globales Design
Name[el]=Καθολικό θέμα
Name[en_GB]=Global Theme
Name[eo]=Globala Etoso
Name[es]=Tema global
Name[et]=Globaalne teema
Name[eu]=Gai globala
Name[fi]=Yleisteema
Name[fr]=Thème global
Name[gl]=Tema global
Name[he]=ערכת עיצוב מקיפה
Name[hi]=वैश्विक प्रसंग
Name[hsb]=Globalna tema
Name[hu]=Globális téma
Name[ia]=Thema Global
Name[id]=Tema Global
Name[is]=Almennt þema
Name[it]=Tema globale
Name[ja]=グローバルテーマ
Name[ka]=გლობალური თემა
Name[ko]=전역 테마
Name[lt]=Visuotinis apipavidalinimas
Name[lv]=Globālais motivs
Name[ml]=ആഗോള തീം
Name[nb]=Globalt tema
Name[nl]=Globaal thema
Name[nn]=Globalt tema
Name[pa]=ਗਲੋਬਲ ਥੀਮ
Name[pl]=Globalny wygląd
Name[pt]=Tema Global
Name[pt_BR]=Tema global
Name[ro]=Tematică globală
Name[ru]=Оформление рабочей среды
Name[sa]=वैश्विक विषयवस्तु
Name[sk]=Globálna téma
Name[sl]=Globalna tema
Name[sv]=Globalt tema
Name[ta]=பொதுவான தோற்றத்திட்டம்
Name[tg]=Мавзӯи умумӣ
Name[tok]=nasin lukin
Name[tr]=Global Tema
Name[ug]=ئومۇمىيەت ئۆرنەك
Name[uk]=Загальна тема
Name[vi]=Chủ đề toàn cục
Name[zh_CN]=全局主题
Name[zh_TW]=全域主題
