[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_users
Icon=preferences-system-users
Name=Users
Name[ar]=المستخدمين
Name[az]=İstifadəçilər
Name[be]=Карыстальнікі
Name[bg]=Потребители
Name[ca@valencia]=Usuaris
Name[ca]=Usuaris
Name[cs]=Uživatelé
Name[da]=Brugere
Name[de]=Benutzer
Name[el]=Χρήστες
Name[en_GB]=Users
Name[eo]=Uzantoj
Name[es]=Usuarios
Name[et]=Kasutajad
Name[eu]=Erabiltzaileak
Name[fi]=Käyttäjät
Name[fr]=Utilisateurs
Name[ga]=Úsáideoirí
Name[gl]=Persoas usuarias
Name[he]=משתמשים
Name[hi]=उपयोक्ता
Name[hu]=Felhasználók
Name[ia]=Usatores
Name[id]=Pengguna
Name[is]=Notendur
Name[it]=Utenti
Name[ja]=ユーザ
Name[ka]=მომხმარებლები
Name[ko]=사용자
Name[lt]=Naudotojai
Name[lv]=Lietotāji
Name[nb]=Brukere
Name[nl]=Gebruikers
Name[nn]=Brukarar
Name[pa]=ਵਰਤੋਂਕਾਰ
Name[pl]=Użytkownicy
Name[pt]=Utilizadores
Name[pt_BR]=Usuários
Name[ro]=Utilizatori
Name[ru]=Пользователи
Name[sa]=उपयोक्तारः
Name[sk]=Používatelia
Name[sl]=Uporabniki
Name[sv]=Användare
Name[ta]=பயனர்கள்
Name[tok]=sijelo
Name[tr]=Kullanıcılar
Name[ug]=ئىشلەتكۈچى
Name[uk]=Користувачі
Name[vi]=Người dùng
Name[zh_CN]=用户
Name[zh_TW]=使用者
