[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_landingpage
Icon=preferences-desktop
Name=Quick Settings
Name[ar]=إعدادات سريعة
Name[ast]=Configuración rápida
Name[az]=Çevik ayarlama
Name[be]=Хуткія налады
Name[bg]=Бързи настройки
Name[ca@valencia]=Opcions ràpides
Name[ca]=Opcions ràpides
Name[cs]=Rychlé nastavení
Name[da]=Hurtigindstillinger
Name[de]=Schnelleinstellungen
Name[el]=Γρήγορες ρυθμίσεις
Name[en_GB]=Quick Settings
Name[eo]=Rapidaliraj Agordoj
Name[es]=Ajustes rápidos
Name[et]=Põhiseadistused
Name[eu]=Ezarpen azkarrak
Name[fi]=Pika-asetukset
Name[fr]=Paramétrage rapide
Name[ga]=Socruithe Tapa
Name[gl]=Configuración rápida
Name[he]=הגדרות זריזות
Name[hu]=Gyorsbeállítások
Name[ia]=Preferentias rapide
Name[id]=Pengaturan Cepat
Name[is]=Flýtistillingar
Name[it]=Impostazioni rapide
Name[ja]=クイック設定
Name[ka]=სწრაფი მორგება
Name[ko]=빠른 설정
Name[lt]=Sparčiosios nuostatos
Name[lv]=Ātrie iestatījumi
Name[nb]=Hurtiginnstillinger
Name[nl]=Snelle instellingen
Name[nn]=Snøgg­innstillingar
Name[pa]=ਫ਼ੌਰੀ ਸੈਟਿੰਗਾਂ
Name[pl]=Szybkie ustawienia
Name[pt]=Definições rápidas
Name[pt_BR]=Configurações rápidas
Name[ro]=Configurări rapide
Name[ru]=Быстрая настройка
Name[sa]=त्वरित सेटिंग्स्
Name[sk]=Rýchle nastavenia
Name[sl]=Hitre nastavitve
Name[sv]=Snabbinställningar
Name[ta]=எளிய விருப்பத்தேர்வுகள்
Name[tg]=Танзимоти фаврӣ
Name[tr]=Tez Ayarlar
Name[ug]=تېز تەڭشەك
Name[uk]=Швидке налаштовування
Name[vi]=Thiết lập nhanh
Name[zh_CN]=快速设置
Name[zh_TW]=快速設定
