[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 kcm_trash
Icon=user-trash
Name=Trash
Name[ar]=المهملات
Name[be]=Сметніца
Name[bg]=Кошче
Name[ca@valencia]=Paperera
Name[ca]=Paperera
Name[cs]=Koš
Name[de]=Papierkorb
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[eu]=Zakarrontzia
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[gl]=Lixo
Name[he]=אשפה
Name[hu]=Kuka
Name[ia]=Corbe
Name[is]=Rusl
Name[it]=Cestino
Name[ja]=ごみ箱
Name[ka]=ნაგავი
Name[ko]=휴지통
Name[lt]=Šiukšlinė
Name[lv]=Atkritne
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt_BR]=Lixeira
Name[ro]=Gunoi
Name[ru]=Корзина
Name[sa]=तुच्छद्रव्य
Name[sk]=Kôš
Name[sl]=Smeti
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[tr]=Çöp Kutusu
Name[ug]=ئەخلەتخانا
Name[uk]=Смітник
Name[zh_CN]=回收站
Name[zh_TW]=垃圾桶
