[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_plymouth
Icon=preferences-desktop-display
Name=Boot Splash Screen
Name[ar]=شاشة بدء التشغيل
Name[be]=Застаўка экрана загрузкі
Name[bg]=Екран за начално зареждане
Name[ca@valencia]=Pantalla de presentació d'arrancada
Name[ca]=Pantalla de presentació d'arrencada
Name[cs]=Úvodní startovací obrazovka
Name[da]=Opstartsbillede under boot
Name[de]=Systemstartbildschirm
Name[el]=Αρχική οθόνη εκκίνησης
Name[en_GB]=Boot Splash Screen
Name[eo]=Boot Splash Screen
Name[es]=Pantalla de arranque
Name[et]=Algkäivitusekraan
Name[eu]=Abioko plasta pantaila
Name[fi]=Käynnistyskuva
Name[fr]=Animation de démarrage
Name[gl]=Pantalla de arranque
Name[he]=מסך פתיח לטעינה
Name[hi]=बूट स्पलैश स्क्रीन
Name[hu]=Rendszerindító nyitóképernyő
Name[ia]=Schermo de Splash de Boot
Name[id]=Layar Splash Boot
Name[it]=Schermata d'avvio
Name[ja]=起動スプラッシュスクリーン
Name[ka]=ჩატვირთვის სურათი
Name[ko]=부트 화면
Name[lt]=OS paleidimo prisistatymo langas
Name[lv]=Sāknēšanās ekrāns
Name[nl]=Opstartscherm
Name[nn]=Velkomstbilete ved maskinstart
Name[pa]=ਬੂਟ ਸਪਲੈਸ਼ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã Inicial de Arranque
Name[pt_BR]=Tela de inicialização
Name[ro]=Ecran de demarare
Name[ru]=Выбор экрана загрузки
Name[sa]=बूट स्पलैश स्क्रीन
Name[sk]=Úvodná obrazovka spustenia
Name[sl]=Pozdravno okno ob zagonu
Name[sv]=Startskärm
Name[tr]=Önyükleme Açılış Ekranı
Name[uk]=Екран вітання під час завантаження
Name[zh_CN]=开机屏幕
Name[zh_TW]=開機啟動畫面
