[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_kwinxwayland
Icon=xorg
Name=Legacy X11 App Support
Name[ar]=إتاحة تطبيقات اكس11 القديمة
Name[be]=Падтрымка састарэлых праграм X11
Name[bg]=Поддръжка на минали версии  X11 приложения
Name[ca@valencia]=Implementació de les aplicacions X11 antigues
Name[ca]=Implementació de les aplicacions X11 antigues
Name[cs]=Podpora starých aplikací X11
Name[da]=Understøttelse af ældre X11-app
Name[de]=Unterstützung für alte X11-Anwendungen
Name[en_GB]=Legacy X11 App Support
Name[eo]=Legacy X11 App Subteno
Name[es]=Compatibilidad de aplicaciones X11 heredadas
Name[eu]=X11 ondare aplikazioen euskarria
Name[fi]=Vanhojen X11-sovellusten tuki
Name[fr]=Prise en charge des applications anciennes sous X11
Name[gl]=Compatibilidade con aplicacións antigas de X11
Name[he]=תמיכה ביישומי X11 מיושנים
Name[hu]=Örökölt X11 alkalmazástámogatás
Name[ia]=Legacy X11 App Support (Supporto de App de X11 de Hereditage)
Name[id]=Dukungan Aplikasi Lawas X11
Name[is]=Stuðningur við eldri X11-forrit
Name[it]=Supporto per le applicazioni X11 originali
Name[ja]=レガシー X11 アプリケーションのサポート
Name[ka]=მოძველებული X11 პროგრამების მხარდაჭერა
Name[ko]=레거시 X11 앱 지원
Name[lt]=Pasenusių X11 programų palaikymas
Name[lv]=Veco X11 programmu atbalsts
Name[nb]=Støtte for eldre X11-program
Name[nl]=Verouderde ondersteuning voor X11 App
Name[nn]=Støtte for eldre X11-program
Name[pl]=Wsparcie starych aplikacji X11
Name[pt]=Suporte a Aplicações X11 Antigas
Name[pt_BR]=Suporte a aplicativos X11 legados
Name[ro]=Suport pentru aplicații moștenite X11
Name[ru]=Поддержка устаревших приложений X11
Name[sa]=विरासत X11 एप्लिकेशन समर्थन
Name[sk]=Podpora starších aplikácií X11
Name[sl]=Podpora tradicionalnim aplikacijam X11
Name[sv]=Stöd för äldre X11-program
Name[ta]=பழைய X11 செயலிகளுக்கான ஆதரவு
Name[tr]=Eski X11 Uygulamaları Desteği
Name[uk]=Підтримка застарілих програм X11
Name[vi]=Hỗ trợ ứng dụng X11 đời cũ
Name[zh_CN]=旧式 X11 应用程序支持
Name[zh_TW]=舊式 X11 應用程式支援
