[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_plasmalogin
Icon=preferences-system-login
Name=Login Screen
Name[ar]=شاشة الولوج
Name[az]=Sistemə giriş ekranı
Name[bg]=Екран за влизане
Name[ca@valencia]=Pantalla d'inici de sessió
Name[ca]=Pantalla d'inici de sessió
Name[cs]=Přihlašovací obrazovka
Name[da]=Login-skærm
Name[de]=Anmeldebildschirm
Name[es]=Pantalla de inicio de sesión
Name[eu]=Saioa hasteko pantaila
Name[fi]=Kirjautumisnäyttö
Name[fr]=Écran de connexion
Name[gl]=Pantalla de acceso
Name[he]=מסך כניסה
Name[hu]=Bejelentkező képernyő
Name[ia]=Schermo de accesso
Name[id]=Layar Login
Name[is]=Innskráningargluggi
Name[it]=Schermata di accesso
Name[ja]=ログイン画面
Name[ka]=შესვლის ეკრანი
Name[ko]=로그인 화면
Name[lt]=Prisijungimo langas
Name[lv]=Ierakstīšanās ekrāns
Name[nb]=Innloggingsbilde
Name[nl]=Aanmeldscherm
Name[nn]=Innloggingsbilete
Name[pl]=Ekran logowania
Name[pt_BR]=Tela de login
Name[ro]=Ecran de autentificare
Name[ru]=Экран входа в систему
Name[sk]=Prihlasovacia obrazovka (SDDM)
Name[sl]=Prijavni zaslon
Name[sv]=Inloggningsfönster
Name[tr]=Oturum Açma Ekranı
Name[uk]=Вікно входу
Name[zh_CN]=登录屏幕
Name[zh_TW]=登入畫面
