[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_nighttime
Icon=lighttable
Name=Day-Night Cycle
Name[ar]=دورة الليل والنهار
Name[az]=Gecə-gündüz əvəzləməsi
Name[bg]=Цикъл ден–нощ
Name[ca@valencia]=Cicle dia-nit
Name[ca]=Cicle dia-nit
Name[cs]=Denní a noční cyklus
Name[da]=Dag-nat-cyklus
Name[de]=Tag-Nacht-Zyklus
Name[es]=Ciclo día-noche
Name[eu]=Eguna-gaua zikloa
Name[fi]=Vuorokausirytmi
Name[fr]=Cycle Jour-Nuit
Name[he]=מחזור יום-לילה
Name[hu]=Nappal-éjszaka ciklus
Name[ia]=Cyclo de Die-Nocte
Name[is]=Hringrás dags og nætur
Name[it]=Ciclo giorno-notte
Name[ja]=昼夜サイクル
Name[ka]=დღეღამის ციკლი
Name[ko]=주간-야간 전환
Name[lt]=Dienos ir nakties ciklas
Name[lv]=Diennakts cikls
Name[nb]=Dag/natt-syklus
Name[nl]=Dag-nachtcyclus
Name[nn]=Dag–natt-syklus
Name[pa]=ਦਿਨ-ਰਾਤ ਚੱਕਰ
Name[pl]=Cykl dzień/noc
Name[pt_BR]=Ciclo dia-noite
Name[ro]=Ciclu diurn
Name[ru]=Смена дня и ночи
Name[sk]=Denný a nočný cyklus
Name[sl]=Dnevno-nočni cikel
Name[sv]=Dag och nattcykel
Name[ta]=பகல்-இரவு மாற்றம்
Name[tr]=Gece–Gündüz Döngüsü
Name[ug]=كېچە-كۈندۈز دەۋرىيلىكى
Name[uk]=Цикл день-ніч
Name[zh_CN]=日夜周期
Name[zh_TW]=日夜過渡
