[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_kwinoptions
Icon=preferences-system-windows-actions
Name=Window Behavior
Name[ar]=سلوك النوافذ
Name[az]=Pəncərə davranışı
Name[be]=Паводзіны акон
Name[bg]=Поведение на прозорците
Name[ca@valencia]=Comportament de les finestres
Name[ca]=Comportament de les finestres
Name[cs]=Chování oken
Name[da]=Vinduesopførsel
Name[de]=Fensterverhalten
Name[en_GB]=Window Behaviour
Name[eo]=Fenestra Konduto
Name[es]=Comportamiento de las ventanas
Name[et]=Akende käitumine
Name[eu]=Leihoen jokabidea
Name[fi]=Ikkunoiden toiminta
Name[fr]=Comportement des fenêtres
Name[gl]=Comportamento das xanelas
Name[he]=התנהגות חלון
Name[hu]=Ablakműködés
Name[ia]=Comportamento de fenestra
Name[id]=Perilaku Jendela
Name[is]=Gluggahegðun
Name[it]=Comportamento delle finestre
Name[ja]=ウィンドウの挙動
Name[ka]=ფანჯრის ქცევა
Name[ko]=창 동작
Name[lt]=Langų elgsena
Name[lv]=Logu uzvedība
Name[nb]=Vindusatferd
Name[nl]=Venstergedrag
Name[nn]=Vindaugs­åtferd
Name[pl]=Zachowania okien
Name[pt]=Comportamento de Janelas
Name[pt_BR]=Comportamento das janelas
Name[ro]=Comportament ferestre
Name[ru]=Поведение окон
Name[sa]=खिडकी व्यवहार
Name[sk]=Správanie okien
Name[sl]=Vedenje oken
Name[sv]=Fönsterbeteende
Name[ta]=சாளர நடத்தை
Name[tr]=Pencere Davranışı
Name[uk]=Поведінка вікон
Name[vi]=Ứng xử của cửa sổ
Name[zh_CN]=窗口行为
Name[zh_TW]=視窗行為
