[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_cellular_network
Icon=smartphone
Name=Cellular Network
Name[ar]=شبكة خليوية
Name[az]=Mobil şəbəkə
Name[bg]=Мобилна мрежа
Name[ca@valencia]=Xarxa de telefonia mòbil
Name[ca]=Xarxa de telefonia mòbil
Name[cs]=Mobilní síť
Name[de]=Mobilfunknetz
Name[es]=Red móvil
Name[eu]=Mugikorrerako sarea
Name[fi]=Matkapuhelinverkko
Name[fr]=Réseau cellulaire
Name[gl]=Rede móbil
Name[he]=רשת סלולרית
Name[hu]=Mobilhálózat
Name[ia]=Rete Cellular
Name[is]=Farsímakerfi
Name[it]=Rete cellulare
Name[ka]=ფიჭური ქსელი
Name[ko]=모바일 네트워크
Name[lt]=Korinis tinklas
Name[lv]=Mobilais tīkls
Name[nl]=Cellulair netwerk
Name[nn]=Mobilnettverk
Name[pl]=Sieć komórkowa
Name[pt_BR]=Rede celular
Name[ro]=Rețea celulară
Name[ru]=Сотовая сеть
Name[sk]=Mobilná sieť
Name[sl]=Mobilno omrežje
Name[sv]=Mobilnät
Name[ta]=கைபேசி பிணையம்
Name[tr]=Hücresel Ağ
Name[ug]=كۆچمە تور
Name[uk]=Стільникова мережа
Name[zh_CN]=移动网络
Name[zh_TW]=行動網路
