[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_firewall
Icon=preferences-security-firewall
Name=Firewall
Name[ar]=الجدار الناري
Name[az]=Təhlükəsizlik divarı
Name[bg]=Защитна стена
Name[ca@valencia]=Tallafoc
Name[ca]=Tallafoc
Name[cs]=Firewall
Name[de]=Firewall
Name[en_GB]=Firewall
Name[eo]=Fajroŝirmilo
Name[es]=Cortafuegos
Name[eu]=Suhesia
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[gl]=Devasa
Name[he]=חומת אש
Name[hi]=फ़ायरवॉल
Name[hu]=Tűzfal
Name[ia]=Firewall (Taliafoco)
Name[id]=Firewall
Name[is]=Eldveggur
Name[it]=Firewall
Name[ja]=ファイアウォール
Name[ka]=ბრანდმაუერი
Name[ko]=방화벽
Name[lt]=Užkarda
Name[lv]=Ugunsmūris
Name[nl]=Firewall
Name[nn]=Brannmur
Name[pa]=ਫ਼ਾਇਰਵਾਲ
Name[pl]=Zapora ogniowa
Name[pt]='Firewall'
Name[pt_BR]=Firewall
Name[ro]=Firewall
Name[ru]=Брандмауэр
Name[sa]=अग्निप्रावरणम्
Name[sk]=Firewall
Name[sl]=Vdorobran
Name[sv]=Brandvägg
Name[tr]=Güvenlik Duvarı
Name[uk]=Брандмауер
Name[zh_CN]=防火墙
Name[zh_TW]=防火牆
