[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_mobile_wired
Icon=network-wired-symbolic
Name=Wired Network
Name[ar]=شبكة سلكية
Name[bg]=Кабелна мрежа
Name[ca@valencia]=Xarxa per cable
Name[ca]=Xarxa per cable
Name[cs]=Drátová síť
Name[de]=Kabelgebundenes Netzwerk
Name[es]=Red cableada
Name[eu]=Sare hariduna
Name[fi]=Lankaverkko
Name[fr]=Réseau filaire
Name[he]=רשת קווית
Name[hu]=Vezetékes hálózatok
Name[ia]=Rete con Cablos
Name[is]=Kapaltengt netkerfi
Name[it]=Rete cablata
Name[ka]=მავთულიანი შეერთება
Name[ko]=유선 네트워크
Name[lt]=Laidinis tinklas
Name[lv]=Vaud tīkli
Name[nl]=Netwerk via draad
Name[nn]=Kabla nettverk
Name[pl]=Sieci przewodowe
Name[pt_BR]=Rede com fio
Name[ro]=Rețea cu fir
Name[ru]=Проводная сеть
Name[sk]=Káblová sieť
Name[sl]=Ožičeno omrežje
Name[sv]=Trådbundet nätverk
Name[ta]=கம்பி இணைப்பு
Name[tr]=Kablolu Ağ
Name[ug]=سىملىق تور
Name[uk]=Дротова мережа 
Name[zh_CN]=有线网络
Name[zh_TW]=有線網路
