[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_nightlight
Icon=redshift-status-on
Name=Night Light
Name[ar]=الإضاءة الليلية
Name[az]=Gecə rəngi
Name[be]=Начны рэжым
Name[bg]=Вечерни цветове
Name[ca@valencia]=Llum de nit
Name[ca]=Llum de nit
Name[cs]=Noční světlo
Name[da]=Nattelys
Name[de]=Nachtlicht
Name[el]=Νυχτερινός φωτισμός
Name[en_GB]=Night Light
Name[eo]=Nokta Lumo
Name[es]=Luz nocturna
Name[eu]=Gaueko argia
Name[fi]=Yövalo
Name[fr]=Lumière nocturne
Name[gl]=Luz nocturna
Name[he]=תאורת לילה
Name[hu]=Éjszakai fény
Name[ia]=Color de Nocte
Name[id]=Cahaya Malam
Name[is]=Næturlýsing
Name[it]=Luce notturna
Name[ja]=Night Light
Name[ka]=ღამის სინათლე
Name[ko]=야간 조명
Name[lt]=Naktinė šviesa
Name[lv]=Nakts gaisma
Name[nb]=Kveldsfarger
Name[nl]=Nachtlicht
Name[nn]=Kveldsfargar
Name[pa]=ਰਾਤ ਦੇ ਰੰਗ
Name[pl]=Nocne barwy
Name[pt_BR]=Luz noturna
Name[ro]=Lumină nocturnă
Name[ru]=Ночная цветовая схема
Name[sa]=रात्रिप्रकाशः
Name[sk]=Nočná farba
Name[sl]=Nočna svetloba
Name[sv]=Nattljus
Name[ta]=இரவு நிறமாற்றம்
Name[tok]=suno mun
Name[tr]=Gece Işığı
Name[ug]=كېچە چىرىغى
Name[uk]=Нічні кольори
Name[zh_CN]=夜间颜色
Name[zh_TW]=夜光模式
