[Desktop Entry]
Name[bg]=Meld
Name[bs]=Meld
Name[ca]=Meld
Name[ca@valencia]=Meld
Name[cs]=Meld
Name[da]=Meld
Name[de]=Meld
Name[dz]=མེལཌི་
Name[el]=Meld
Name[en_CA]=Meld
Name[en_GB]=Meld
Name[eo]=Meldo
Name[es]=Meld
Name[eu]=Meld
Name[fa]=ملد
Name[fi]=Meld
Name[fr]=Meld
Name[gl]=Meld
Name[he]=‏Meld
Name[hi]=मेल्ड
Name[hu]=Meld
Name[id]=Meld
Name[it]=Meld
Name[ja]=Meld
Name[ka]=Meld
Name[kk]=Meld
Name[ko]=Meld
Name[nb]=Meld
Name[ne]=मेल्ड
Name[nl]=Meld
Name[oc]=Meld
Name[pa]=Meld
Name[pl]=Meld
Name[pt]=Meld
Name[pt_BR]=Meld
Name[ro]=Meld
Name[ru]=Meld
Name[sk]=Meld
Name[sl]=Meld
Name[sq]=Meld
Name[sr]=Мелд
Name[sr@latin]=Meld
Name[sv]=Meld
Name[tr]=Meld
Name[vi]=Meld
Name[uk]=Meld
Name[zh_CN]=Meld
Name[zh_TW]=Meld
Name=Meld
GenericName[bg]=Преглед на разлики
GenericName[bs]=Diff pregledač
GenericName[ca]=Visualitzador de diferències
GenericName[ca@valencia]=Visualitzador de diferències
GenericName[cs]=Prohlížeč rozdílů
GenericName[da]=Diff-fremviser
GenericName[de]=Diff-Betrachter
GenericName[el]=Προβολή διαφορών
GenericName[en_GB]=Diff Viewer
GenericName[eo]=Montrilo de diferencoj
GenericName[es]=Visor de diferencias
GenericName[eu]=Diferentzia-ikustailea
GenericName[fa]=نمایشگر تغییرات
GenericName[fi]=Erojen vertailija
GenericName[fr]=Visionneur de différences
GenericName[gl]=Visualizador Diff
GenericName[he]=מציג הבדלי קבצים
GenericName[hi]=अंतर दर्शक
GenericName[hu]=Eltérésmegjelenítő
GenericName[id]=Penampil Diff
GenericName[it]=Visualizzatore di differenze
GenericName[ja]=差分ビューアー
GenericName[kk]=Айырмашылықтарды қараушы
GenericName[nb]=Vis forskjeller
GenericName[oc]=Visionador de diferéncias
GenericName[pl]=Przeglądarka różnic
GenericName[pt]=Visualizador de diferenças
GenericName[pt_BR]=Visualizador de diff
GenericName[ro]=Vizualizator de diferențe
GenericName[ru]=Просмотр различий
GenericName[sk]=Prehliadač rozdielov
GenericName[sl]=Pregledovalnik sprememb
GenericName[sr]=Прегледач разлика
GenericName[sr@latin]=Pregledač razlika
GenericName[sv]=Diffvisare
GenericName[tr]=Fark Görüntüleyicisi
GenericName[vi]=Bộ so sánh sự khác biệt Meld
GenericName[uk]=Переглядач відмінностей
GenericName[zh_CN]=差异查看器
GenericName[zh_TW]=差異檢視程式
GenericName=Diff Viewer
Comment[bg]=Сравняване и сливане на файлове
Comment[bs]=Poredite i združite svoje datoteke
Comment[ca]=Compareu i fusioneu fitxers
Comment[ca@valencia]=Compareu i fusioneu fitxers
Comment[cs]=Porovnává a slučuje soubory
Comment[da]=Sammenlign og flet dine filer
Comment[de]=Dateien vergleichen und zusammenführen
Comment[el]=Σύγκριση και συγχώνευση των αρχείων σας
Comment[en_GB]=Compare and merge your files
Comment[eo]=Kompari kaj kunfandi dosierojn
Comment[es]=Compare y combine sus archivos
Comment[eu]=Konparatu eta konbinatu fitxategiak
Comment[fa]=مقایسه و ادغام پرونده‌ّایتان
Comment[fi]=Vertaa ja yhdistä tiedostoja
Comment[fr]=Comparer et fusionner des fichiers
Comment[gl]=Compare e combine os seus ficheiros
Comment[he]=השוואה ומיזוג של קבצים
Comment[hi]=अपनी फाइलों की तुलना करें और विलय करें
Comment[hu]=Fájlok összehasonlítása és összefésülése
Comment[id]=Membandingkan dan menggabung berkas-berkas Anda
Comment[it]=Confronta e unisce file
Comment[ja]=複数のファイルを比較したりマージしたりします
Comment[kk]=Файлдарды салыстыру және біріктіру
Comment[nb]=Sammenligne og flett sammen dine filer
Comment[oc]=Comparar e fusionar de fichièrs
Comment[pl]=Porównywanie i scalanie plików
Comment[pt]=Compare e una os seus ficheiros
Comment[pt_BR]=Compare e mescle seus arquivos
Comment[ro]=Comparați-vă și combinati-vă fișierele
Comment[ru]=Сравнение и объединение файлов
Comment[sk]=Porovná a zlúči vaše súbory
Comment[sl]=Primerjava in združevanje datotek
Comment[sr]=Упоређујте и спајајте ваше датотеке
Comment[sr@latin]=Upoređujte i spajajte vaše datoteke
Comment[sv]=Jämför och sammanfoga dina filer
Comment[tr]=Dosyalarınızı karşılaştırın ve birleştirin
Comment[vi]=So sánh và trộn các tập tin của bạn
Comment[uk]=Порівняйте й обʼєднайте свої файли
Comment[zh_CN]=比较和合并您的文件
Comment[zh_TW]=比對及合併您的檔案
Comment=Compare and merge your files
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bg]=разлика;разлики;сливане;сравняване;git;mercurial;bazaar;subversion;diff;merge;
Keywords[ca]=diff;fusió;
Keywords[cs]=rozdíl;odlišnosti;diff;porovnání;porovnávání;srovnání;srovnávání;slučování;sloučení;
Keywords[da]=diff;flet;
Keywords[de]=diff;merge;vergleichen;zusammenführen;
Keywords[en_GB]=diff;merge;
Keywords[es]=diff;mezcla;
Keywords[eu]=diff;merge;
Keywords[fa]=diff;merge;تغییر;ادغام;تفاوت;
Keywords[fi]=diff;merge;yhdistäminen;erot;vertailu;vertaa;
Keywords[fr]=diff;fusion;
Keywords[gl]=comparar;combinar;
Keywords[hi]=अंतर;विलय;
Keywords[hu]=diff;merge;különbség;patch;folt;
Keywords[id]=diff;merge;
Keywords[it]=diff;merge;differenze;unione;
Keywords[ja]=diff;merge;比較;マージ;
Keywords[ka]=diff;merge;
Keywords[kk]=diff;merge;айырмашылық;біріктіру;
Keywords[nb]=forskjell;flett;
Keywords[pl]=różnica;diff;merge;scalanie;łączenie;połącz;porównaj;łata;łatka;patch;
Keywords[pt]=diff;diferenças;comparar;unir;
Keywords[pt_BR]=comparar;diferença;diff;mesclar;mesclagem;merge;
Keywords[ro]=diff;merge;diferență;diferențe;îmbinare;
Keywords[ru]=diff;merge;сравнение;объединение;
Keywords[sl]=diff;merge;primerjava;usklajevanje;
Keywords[sr]=разлике;стопи;
Keywords[sr@latin]=razlike;stopi;
Keywords[sv]=diff;merge;sammanfogning;
Keywords[tr]=diff;fark;birleştir;merge;
Keywords[uk]=diff;merge;різниця;відмінність;об'єднати;порівняти;
Keywords[zh_CN]=diff;merge;差异;合并;
Keywords[zh_TW]=差異;合併;diff;merge;
Keywords=diff;merge;
Exec=meld %F
Terminal=false
Type=Application
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Meld
MimeType=application/x-meld-comparison;
StartupNotify=true
Categories=GTK;Development;
